.chatbot-container{
    display:flex;
    flex-direction:column;
    height:100%;
    padding:15px;
    background:white;
}

.chatbot-container h1{
    font-size:22px;
    margin-bottom:12px;
    color:#0f172a;
}

.chat-area{
    flex:1;
    overflow-y:auto;
    background:#f8fafc;
    border-radius:12px;
    padding:12px;
}

.user-message{
    background:#2563eb;
    color:white;
    padding:10px 14px;
    border-radius:14px;
    margin-bottom:12px;
    width:fit-content;
    max-width:75%;
    margin-left:auto;
    font-size:14px;
}

.bot-message{
    background:#e2e8f0;
    color:#0f172a;
    padding:10px 14px;
    border-radius:14px;
    margin-bottom:12px;
    width:fit-content;
    max-width:75%;
    font-size:14px;
}

.chat-input-area{
    display:flex;
    gap:1px;
    margin-top:12px;
}
.chat-input-area input{
    flex:1;
    padding:12px;
    border-radius:10px;
    border:1px solid #cbd5e1;
    outline:none;
}

.chat-input-area button{
    padding:10px 14px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:14px;
}

.voice-btn{
    width:42px;
    height:42px;
    border:none;
    background:#2563eb;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.chatbot-popup{
    position:fixed;
    bottom:90px;
    right:15px;
    width:320px;
    height:420px;
    background:white;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 10px 35px rgba(0,0,0,0.18);
    z-index:1000;
}

@media(max-width:768px){

    .chatbot-popup{
        width:90%;
        right:5%;
        height:70vh;
    }

}