.contact-page{
  min-height:100vh;
  padding:60px 8%;
  background:linear-gradient(
    135deg,
    #072c4a 0%,
    #0d2d56 50%,
    #1c215e 100%
  );
}

.contact-header{
  text-align:center;
  margin-bottom:50px;
}

.support-icon{
  width:70px;
  height:70px;
  margin:auto;
  border-radius:20px;
  background:#0ea5e9;
  color:white;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:30px;
  margin-bottom:20px;
}

.contact-header h1{
  color:white;
  font-size:52px;
  font-weight:800;
}

.contact-header span{
  color:#22d3ee;
}

.contact-header p{
  color:#b6c6d7;
  margin-top:10px;
}

.contact-cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  margin-bottom:40px;
}

.contact-card{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.1);
  border-radius:16px;
  padding:25px;
  text-align:center;
  color:white;
}

.contact-card svg{
  font-size:24px;
  color:#8b5cf6;
  margin-bottom:10px;
}

.contact-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:25px;
}

.contact-form,
.faq-box{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.1);
  border-radius:20px;
  padding:30px;
}

.contact-form h3,
.faq-box h3{
  color:white;
  margin-bottom:20px;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
  width:100%;
  margin-bottom:15px;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#244667;
  color:white;
}

.contact-form button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:10px;
  background:#0ea5e9;
  color:white;
  font-weight:700;
  cursor:pointer;
}

.contact-form button:hover{
  background:#0284c7;
}

.faq-item{
  background:#244667;
  color:white;
  padding:16px;
  border-radius:10px;
  margin-bottom:12px;
  cursor:pointer;
}

.faq-item:hover{
  background:#2d5379;
}